{# templates/product/new.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Galerie{% endblock %}
{% block body %}
	<style>
	@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
		h1 {
			margin: 0;
		}
		.nb-products {
			font-size: 2.4rem;
			font-family: 'Krona One', sans-serif;
			color: #343a40;
		}
		.icon-upload {
			font-size: 2.4rem;
		}
	</style>
		<div class="d-flex mb-5 mt-5">
			<h1>Galerie</h1>
			<div class="ml-auto">
				<span class="nb-products mr-2">{{ products|length }}</span>
				<i class="fa fa-upload icon-upload"></i>
			</div>
		</div>
		<table class="table">
 			<thead class="thead-dark">
	 			<tr>
					<th scope="col">Nom</th>
					<th scope="col">Date</th>
					<th scope="col">Type</th>
					<th scope="col"></th>
	 			</tr>
 			</thead>
 			<tbody>
				{% for product in products %}
					<tr>
						<td>
							<a
								target="_blank"
								href="{{ upload_directory ~ product.filename }}">   {# ~ = concaténation #} {# Nom#}
								{{ product.filename }}
							</a>
						</td>
						<td>{{ product.date.format("d/m/Y H:i:s") }}</td> {# Date#}
						<td><i class="fa {{ product.type|iconFile }}"></i></td> {# Type#}
						<td><a href="{{ path("app_product_delete", {id:product.id}) }}"><i class="fa fa-times"></i></a></td> {# Cross#}
					</tr>
				{% endfor %}
	 		</tbody>
		</table>
{% endblock %}
