{# templates/car/new.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Pannel voitures{% endblock %}
{% block body %}
		<h1 class="mt-5 mb-5">Tableaux de bord</h1>
		<table class="table">
 			<thead class="thead-dark">
	 			<tr>
					<th scope="col">Marque</th>
					<th scope="col">Modèle</th>
					<th scope="col">Année</th>
					<th scope="col">Plaque d'immatriculation</th>
					<th scope="col">Type de motorisation</th>
					<th scope="col"></th>
	 			</tr>
 			</thead>
 			<tbody>
				{% for car in cars %}    {# "car" = table car dans la BDD / "cars" = variable utilisé dans le CarController#}
					<tr>
						<td>{{ car.mark }}</td>
						<td>{{ car.model }}</td>
						<td>{{ car.year.format("Y") }}</td>
						<td>{{ car.numberplate }}</td>
						<td>{{ car.motorization }}</td>
						<td><a href="{{ path("app_car_delete", {id:car.id}) }}"><i class="fa fa-times"></i></a></td>  {# Cross#}
					</tr>
				{% endfor %}
	 		</tbody>
		</table>
{% endblock %}
