{% extends 'base.html.twig' %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ path('app_logout') }}">Se déconnecter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('app_product_list') }}">Ma liste <span class="sr-only">(current)</span></a>
      </li>
			<li class="nav-item active">
        <a class="nav-link" href="{{ path('app_product_new') }}">Télécharger mon doc.</a>
      </li>
    </ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{{ path('app_car') }}">Mes Voitures<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="{{ path('app_car_new') }}">Ajouter ma voiture</a>
			</li>
		</ul>
			</div>
		</div>
  </div>
</nav>
{% endblock %}

{% block footer %}
	<div class="footer">
		<a class="nav-link" id="Politique" href="">Politique de confidentialité</a>
		<a class="nav-link" id="Contrat" href="">Contrat d'Utilisateur</a>
	</div>

{% endblock %}
